@tailwind base;
@tailwind components;
@tailwind utilities;

/* div.hero { */
/*   @apply block md:grid; */
/*   grid-template-columns: 0.4fr 0.6fr; */
/* } */

/* input[type="text"] { */
/*   @apply block w-full mb-2 rounded-xl; */
/*   @apply border p-2 border-gray-300 bg-gray-100; */
/* } */
/* input[type="email"], */
/* input[type="password"] { */
/*   @apply w-full rounded-xl mb-2; */
/*   @apply block border p-2 border-gray-300 bg-gray-100; */
/* } */
/**/
/* section form button { */
/*   @apply gap-4 w-full border border-gray-300 rounded-xl px-6 py-2; */
/* } */
/**/
/* button[type="submit"], */
/* button.submit { */
/*   @apply w-full text-white font-semibold; */
/*   @apply border rounded-xl px-6 py-2 bg-primary; */
/* } */

select,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
  @apply block w-full mb-2 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100;
}
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
  @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}
label {
  @apply text-gray-500 text-sm leading-tight;
}
label + input {
  margin-top: -2px;
}
button,
.button {
  @apply flex w-full justify-center gap-2 text-gray-700 font-semibold;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}
button[type="submit"],
.submit,
button.primary {
  @apply border-primary bg-primary text-white;
}
button[type="submit"]:disabled,
.submit:disabled {
  @apply cursor-not-allowed bg-red-400;
}
div.tabs > * {
  @apply bg-gray-300 text-gray-700 rounded-full py-2 px-4;
}
div.tabs > *.active {
  @apply bg-primary text-white;
}

.flying-button-parent button {
  @apply border-primary bg-primary text-white rounded-full;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

